<div class="">
    <form #productform="ngForm" novalidate>
    <table>
        <tbody>
            <tr>
                <td colspan="2"><b>Two Way binding</b></td>
            </tr>
            <tr>
                <td><label #namelabel for="">Name</label></td>
                <td><input #abcd type="text" required name="name" [(ngModel)]="myform.name">
                <span *ngIf="productform.controls?.name?.errors?.required">Name is required</span>
                </td>
            </tr>
            <tr>
                <td><label for="">Price</label></td>
                <td><input type="text" #price="ngModel" required minlength="5" name="price" [(ngModel)]="myform.price">
               Dirty: {{price.dirty}} Touched:{{price.touched}} Pristine: {{price.pristine}} Invalid: {{price.invalid}} 
               {{price.errors|json}}
               <span *ngIf="price.touched && price.errors">
                   <span *ngIf="price.errors.required">Price is required</span>
                   <span *ngIf="price.errors.minlength">minimum length 4</span>
               </span>
                </td>
            </tr>
            <tr>
                <td><label for="">Category</label></td>
                <td>
                    <input type="text" required  minlength="10" name="category" [(ngModel)]="myform.category">
                    <span *ngIf="productform.controls?.category?.touched">
                      <span *ngIf="productform.controls?.category?.errors?.required">Category is required</span>
                      <span *ngIf="productform.controls?.category?.errors?.minlength">minimum lenth is 10</span>
                      </span>
                    </td>
            </tr>
            <tr>
            <td colspan="2"><b>One Way binding</b></td>
            </tr>
             <tr>
                <td><label  for="">Color</label></td>
                <td><input  type="text" name="color" [ngModel]="myform.color">
                </td>
            </tr>
             <tr>
            <td colspan="2"><b>No binding</b></td>
            </tr>
             <tr ngModelGroup="dimension">
                <td><label  for="">Height</label></td>
                <td><input  type="text" name="height" ngModel>
                </td>
                 <td><label  for="">Width</label></td>
                <td><input  type="text" name="width" ngModel>
                </td>
            </tr>
            <tr ngModelGroup="test">
                <td><label  for="">testone</label></td>
                <td><input  type="text" name="testone" ngModel>
                </td>
                 <td><label  for="">testtwo</label></td>
                <td><input  type="text" name="testtwo" ngModel>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align:center">
                    <button [disabled]="productform.invalid" id="btnsave" (click)="saveForm(productform)">Save</button>
                </td>
            </tr>
        </tbody>
    </table>
    </form>
    <b>Myform object</b>
<pre>{{myform|json}}</pre>
<b>Local template variables</b>
<pre>{{abcd.value}} {{namelabel}} Form Valid: {{productform.valid}}</pre>
<b>Product Form value</b>
<pre>{{productform.value|json}}</pre>
</div>
