<h1>
  {{title}}
</h1>
<div [style.color]="red" [style.fontSize]="size" [id]="divid">
  My name is {{name}} and phone is {{phone}}
</div>
<button (focus)="onfocus()" (click)="toogle($event)">Toogle</button>

<div *ngIf="show === true">
  <p>this is para1 now changed</p>
</div>

<div *ngIf="type === 'HELLO'">
  <p>BY TYPE</p>
</div>
<h3>Available fruits {{fruits.length}} </h3>
<div *ngFor="let fruit of fruitQty;let indx = index;
let fst = first;
let last = last;
let even = even;
let odd = odd">
<div [ngClass]="{'color-green bold':fst,red:last,blue:!fst&& !last&&even,yellow:!fst&& !last&&odd}">{{indx+1}}  {{fruit.name}} First:{{fst}} Last: {{last}}</div>
</div>

<table>

  <thead>
    <tr>
      <th>SL</th>
      <th>Name</th>
      <th>Qty</th>
      <th>First</th>
      <th>Last</th>
      <th>Even</th>
      <th>Odd</th>
      <th>Action</th>
    </tr>
  </thead>
  <tr *ngFor="let fruit of fruitQty;let indx = index;
let fst = first;
let last = last;
let even = even;
let odd = odd">
    <td>{{indx+1}}</td>
    <td>{{fruit.name}}</td>
    <td>{{fruit.qty}}</td>
    <td>{{fst}}</td>
    <td>{{last}}</td>
    <td>{{even}}</td>
    <td>{{odd}}</td>
    <td><button (click)="removeItem(indx)">Remove</button></td>
  </tr>
</table>

<app-sidebar></app-sidebar>
<app-sidebar></app-sidebar>
<app-sidebar></app-sidebar>
<app-sidebar></app-sidebar>
<app-sidebar></app-sidebar>
<app-sidebar></app-sidebar>
<app-sidebar></app-sidebar>
<app-sidebar></app-sidebar>
<app-sidebar></app-sidebar>

<table>
  <tbody>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>


<div class="test">
  <div id="test">
    <div></div>
    <p></p>
    <span></span>
    <ul>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
</div>



