<app-navbar></app-navbar>

<!--<app-jambo></app-jambo>-->

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <!--<ul>
               <li *ngFor="let item of products">
                   {{item.name}} {{item.price}}
                    </li>
           </ul>
            <app-product-list></app-product-list>-->
      <!--<app-product-form></app-product-form>-->
      <!--<app-product-model-form></app-product-model-form>-->

      <router-outlet></router-outlet>
    </div>
  </div>
</div>
