<div class="">
   <input type="checkbox" (click)="addressRequired()">Address Required

    
    <form novalidate [formGroup]="product">
        <table>
            <tbody>
                <tr>
                    <td colspan="2"><b>Model Driven Forms</b></td>
                </tr>
                <tr>
                    <td><label for="">Name</label></td>
                    <td><input type="text" formControlName="name">
                    <span *ngIf="product.get('name').errors?.nospace">
                            Space not allowed
                        </span>
                    </td>
                </tr>
                <tr>
                    <td><label for="">Price</label></td>
                    <td><input type="text" formControlName="price">

                    </td>
                </tr>
                <tr>
                    <td><label for="">Category</label></td>
                    <td>
                        <input type="text">
                    </td>
                </tr>


                <tr *ngIf="product.controls?.address" formGroupName="address">
                    <td><label for="">Address Line 1</label></td>
                    <td>
                        <input type="text" formControlName="addrline1">
                        <span *ngIf="product.controls?.address.get('addrline1').errors?.nospace">
                            Space not allowed
                        </span>

                    </td>

                </tr>
                 <tr *ngIf="product.controls?.pincode">
                    <td><label for="">Pincode</label></td>
                    <td>
                        <input type="text" formControlName="pincode">
                        <span *ngIf="product.get('pincode')?.errors?.zipcode">
                            Not a valid zipcode
                            </span>
                    </td>

                </tr>
                <tr *ngFor="let item of product.get('items').controls;let i=index">
                    <td>Name</td>
                    <td>
                        <input type="text" [formControl]="item">
                    </td>
                </tr>
                
                <!--<tr *ngFor="let t of product.get('details').controls;" [formGroup]="t">
                    <td>Name</td>
                    <td>
                        <input type="text" formControlName="item">
                        <input type="number" formControlName="qty">
                        <input type="number" formControlName="price">
                    </td>
                </tr>-->
<tr>
    <td>Dimension</td>
    <td formGroupName="dimension">
        <input type="text" formControlName="width">
        <input type="text" formControlName="height">
    </td>
</tr>
                 <tr>
                   <td>Other Flavour</td>
                    <td formArrayName="details">
                        <div *ngFor="let t of product.get('details').controls;let i1=index;" [formGroupName]="i1">
                        <input type="text" formControlName="item"><!-- details[0].item;details[1].item -->
                        <input type="number" formControlName="qty">
                        <input type="number" formControlName="price">
                        <button (click)="removeDetail(i1);">x</button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align:center">

                        <button (click)="addDetails()">Add New</button>
                        <button (click)="toogleDimension()">Toogle Dimesion</button>
                        <button id="btnsave" (click)="saveForm(productform)">Save</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
    <b>Myform object</b>
    <pre>{{product.value|json}}</pre>
    <pre>{{product.getRawValue()|json}}</pre>
    <pre>Invalid: {{product.invalid}}</pre>
    <pre>{{product.get('dimension').errors|json}}</pre>
    <pre>{{product.controls["pincode"]?.errors|json}}</pre>
</div>