<div class="row">
<div class="col-sm-1">{{index+1}}
</div>
<div class="col-sm-3">{{product.name}}</div>
<div class="col-sm-2">{{product.price}}</div>
<div class="col-sm-2" >{{product?.dimensions?.length}} X {{product?.dimensions?.width}} X {{product?.dimensions?.height}}
</div>
<div class="col-sm-2">
    <span class="tag" *ngFor="let tag of product?.tags">{{tag}}</span>
    <span *ngIf="!product.tags">No tags</span>
</div>
<div class="col-sm-2">
      <button (click)="onClick()">select</button>
</div>
</div>