<h2>Available Products</h2>
{{selectedItem}}
<button (click)="toogle()">Toogle</button>
<div *ngFor="let over of overview;">
  {{over.header}}
  <p>{{over.overview}}</p>
</div>

<ul>
  <li *ngFor="let product of products;let index = index;">
    <hr>
    <button (click)="incrementPrice(product,index)">Double the price</button>
    <a [routerLink]="['details',product.id,product.name]">Product Detail</a>
    <app-product *ngIf="show" [index]="index" [product]="product" (onItemClick)="onChildClick($event)"></app-product>
    <hr>
  </li>
</ul>
