<h2>Products Details</h2>

 <app-product *ngIf="product" [index]="0" [product]="product" (onItemClick)="onChildClick($event)"></app-product>

<hr>

<a routerLink="../../">Back to list (Relative)</a><br/>
<a routerLink="/products">Back to list (Absolute)</a>
<br/>
<a [routerLink] = "['/products/details',(product?.id-1),'dummy name']">Prev</a>
<a [routerLink] = "['/products/details',(product?.id+1),'dummy name']">Next</a>